
 /* The Modal (background) */
.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
}
  
  /* Modal Body */
.modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    color: white;
    height: 40px;
}

.modal-footer > div { 
    float: right;
    margin-top: 4px;
}

.modal-footer .btnOK {
    background-color: #5cb85c;
}

.modal-footer .btnCancel {
    background-color: red;
}

.modal-footer  button {
    border: none;
    color: #fff;
    padding: 3px;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
  
/* Add Animation */
 @keyframes animatetop {
    from { opacity: 0}
    to { opacity: 1}
} 

@media screen and (min-width: 560px) {
    .modal-content { 
        width: 50%;
    }
}